/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require_self
*/

.orbitron_h1 {
  font-family: 'Orbitron', sans-serif;
}

.orbitron_panel {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 16px
}

.menu_principal {
  padding-bottom: 1em;
}
